SECRET_KEY=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

PROJECT_NAME=
PROJECT_PREFIX=${PROJECT_NAME}_

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

MEDIA_URL=${//AWS_STORAGE_BUCKET_NAME}.s3.amazonaws.com/'
MEDIA_ROOT=MEDIA_URL

SENDGRID_API_KEY=
BASE_URL=

# COMMA-SEPARATED LISTS
# LAST CHARACTER MUST BE A COMMA
ALLOWED_HOSTS=test.com,
CORS_ORIGIN_WHITELIST=http://frontend.test.com,http://backend.test.com,
CSRF_TRUSTED_ORIGINS=.test.com

DOMAIN=test.com

# True by default, unless explicitLy False
SECURE_SSL_REDIRECT=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
JWT_COOKIE_SECURE=False
REQUIRE_CSRF=

# False by default, unless explicitly True
DEBUG=True